
/* Common Body styles includes font type, size, color, background, width and margin*/
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #777;
   background: #777;
   width: 960px;
   margin-left: 10%;
}
/* common backgrund color for header, nav, section, aside and footer */
header,nav,section,aside,footer{
    background: #ebebeb;
    
}
/* setting padding, width, margin bottom & left and Text alignment for header*/
header{
    padding:25px; 
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10px; /* to add margin at left*/
    text-align: center;
}
/* Setting padding, width, margin bottom & left and Text alignment for nav */
nav{
    padding:25px;
    margin-left: 10px;  
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}
/* set the width to 100% of box (parent class of box 1 and 2) inorder to float box1 and box2 inside */
.box{
    width: 100%;
}
/* box1 styling */
.box1{
    float:left; /* box1 will float left around the parent Box */
    width: 50%; /* setting the width to 50% of the parent box */
    padding: 25px;
    height: 225px;
    margin-left: 10px;  
    margin-bottom: 20px;
    text-align: center; 
}
/* box2 styling */
.box2{
    float:left; /* box2 will float left around the parent box1 */
    width: 32.5%; /* setting the width to 32% approx of the parent box */
    margin-left: 20px;
    padding: 25px;
    height: 225px; 
    margin-bottom: 20px;
    text-align: center;
}
/* article styling : color, backround and padding*/
.article{
    color: #ebebeb;
    background: #777;
    padding: 25px;
}
/* h1 and P styling : color, backround and padding*/
.h1,p{
    color: #777;
    background: #ebebeb;
    padding: 10px;
}
/* setting padding, width, margin bottom & left and Text alignment for header*/
footer{
    clear: both; /* need to clear the float inorder to stop footer to float around the previous box2*/
    display: block; /*will display in block pattern */
    content: ""; /* will clear the contets*/
    padding:25px;
    margin-left: 10px;  
    width: 90%;
    text-align: center;
}